.column-1-12{width: calc(95% / 12);}
.column-2-12{width: calc(95% / 12 * 2);}
.column-3-12{width: calc(95% / 12 * 3);}
.column-4-12{width: calc(95% / 12 * 4);}
.column-5-12{width: calc(95% / 12 * 5);}
.column-6-12{width: calc(95% / 12 * 6);}
.column-7-12{width: calc(95% / 12 * 7);}
.column-8-12{width: calc(95% / 12 * 8);}
.column-9-12{width: calc(95% / 12 * 9);}
.column-10-12{width: calc(95% / 12 * 10);}
.column-11-12{width: calc(95% / 12 * 11);}

body{
   font-family: 'Montserrat', sans-serif;
}

.header{
   display: flex;
   font-size: 4rem;
   line-height: 5rem;
   margin-top: 10vw;
}

.border-left{border-left: 1px solid black;}
.border-right{border-right: 1px solid black;}
.border-bottom{border-bottom:1px solid black;}


/* heading */
.dieter-rams{font-size: 2rem;}
.heading{padding-left: 30px; font-weight: 300;}
.header-image{display: flex;height: 30vw;}
.blank-1{display: flex; height: 20vw;}
.dieter-rams-img{width: 80%; float: right;}

/* part1 */
.P-1{display: flex;}
.no-1-number{width: 10%;}
.no-1-img{width: 40%; margin-left: 20%;}
.P-1-heading{font-size: 3rem; margin-bottom: 35px;}
.P-1-content, .P-2-content, .P-3-content, .P-4-content{font-size: 1.2rem; line-height: 2rem;font-weight: 300;}

.blank-2{display: flex; height: 17vw;}
.blank-2-ss{height: 20vh;}
.blank-2-xx{height: 10vh; border-top: 1px solid black;}

/* part2 */
.P-2{display: flex; margin-bottom: 15vh;}
.no-2-size{height: 35vh;}
.no-2-number{width: 60%; float: right; margin-top: 80px;}
.no-2-img{width: 50%; float:right;}

/* part3 */
.P-3{display: flex; justify-content: flex-end;}
.no-3-img{width: 80%; float: right;}
.no-3-size{ position: absolute; bottom: 0px; right: 60px; width: 6vw;}
.no-3-size2{position: relative;}
.blank-3 {height: 20vh;}

/* part4 */
.P-4{display: flex;}
